.row.summarized-item
  .col-md-12
    .row
      .col-md-1
        = fa_icon "thumbs-o-up", class: "fa-lg"
        100
      .col-md-11
        %h4
          Video of cat doing things cats actually do, like sit around
          %span.url
            (lilzcats.com)
    .row
      .col-md-11.col-md-offset-1
        %span
          Submitted by DapperDrake
        %span
          36 comments
